/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: auto;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
}

body > * {
    margin: 20px 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.list-inline > li {
    list-style: none;
    display: inline-block;
    padding: 10px 10px 10px 0;
}

.sinistra {
    float: left;
}

.descrizione > p {
    color: #9E9E9E;
}
h2 {
    font-size: 30px;
}

h4 {
    margin: 10px 0;
}
/* common */

/* header */
.contenitore-logo {
    height: 100px;
}

#logo {
    height: 50px;
}

nav {
    margin-bottom: 20px;
}

.list-inline a {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
}

.sfondo-banner { 
    height: 550px;
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sfondo-trasparente {
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.testo {
    width: 50%;
    margin-top: 350px;
    margin-left: 60px;
}

/* header */

/* main */
#titolo {
    height: 50px;
}

aside {
    
    width: 20%;
    margin: 25px 0;
}

.angoli {
    border-radius: 25px;
}

.quadrato {
    height: 250px;
    width: 100%;
}

.rettangolo {
    height: 250px;
    width: 100%;
}

.immagine1 {
    background-image: url("../img/img-1.jpg");
    background-position: center;
    background-size: cover;
}

.immagine2 {
    background-image: url("../img/banner-2.jpg");
    background-position: center;
    background-size: cover;
}

.immagine3 {
    background-image: url("../img/img-3.jpg");
    background-position: center;
    background-size: cover;
}

section {
    width: 56%;
    margin: 25px 2%;
}
/* main */

/* footer */
footer {
    height: 50px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}

footer::after {
    content: " \2665";
    font-size: 30px;
    vertical-align: middle;
    color: red;
}
/* footer */
